.app {
  display: flex;
  align-items: center;
  
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}

li{
  padding: 1rem;
  list-style-type: none;
  border: solid 1px black;
  background-color: #C8CACA;
  
}
li a {
  text-decoration: none ;
  color: #000;
  
}
